.Header {
  height: 50px;
  color: var(--sec1-color);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}

.appTitle {
  font-size: 1.8rem;
  font-weight: 1000;
}

.rightSideHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.connectWallet {
  border-radius: 9999px;
  border: 2px solid var(--sec1-color);
  padding: 5px 25px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
}

.Header svg {
  margin-left: 10px;
  width: 20px;
  cursor: pointer;
}

.Header svg path {
  fill: var(--sec1-color);
}
